# ANTLR
*.tokens
src/main/java/com/sleekbyte/tailor/swift/

# IntelliJ IDEA
*.iml

## Directory-based project format:
.idea/

# Python
*.py[cod]

## pyvenv
venv/

# Java
*.class

## Package Files
*.jar

# Gradle
.gradle
build/
