# ANTLR
*.tokens

# Idea
.idea

# Python
*.py[cod]

# pyvenv
venv/

# Java
*.class

# Package Files
*.jar

# Gradle
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
