<footer class="footer text-center">
  <div class="container row">
    <div class="col-6 col-xs-12">
      <section class="copyright">Copyright &copy; 2015 {{ site.name }}. All rights reserved.</section>
    </div>
    <div class="col-6 col-xs-12">
      <section class="contact">
        <a id="GitHub-Footer" href="{{ site.github_url }}" target="_blank">GitHub</a>
        <a id="Email" href="mailto:team@sleekbyte.com">Contact Us</a>
      </section>
    </div>
  </div>
</footer>

<script>
  mixpanel.track_links("#GitHub-Footer", "GitHub Click", {'Network': 'GitHub'});
  mixpanel.track_links("#Email", "Email Click", {'Network': 'GitHub'});
</script>
