<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:description" content="{{ site.description }}.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/logo.png">
  <meta property="og:site_name" content="{{ site.name }}">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="https://cdn-images.mailchimp.com/embedcode/slim-081711.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
  <link rel="icon" href="{{ site.url }}/assets/images/logo.png">
  <link rel="apple-touch-icon" href="{{ site.url }}/assets/images/logo.png">
  {% include mixpanel.html %}
</head>
