<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.name }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Overview</a></li>
        <li><a href="https://github.com/sleekbyte/tailor/wiki">Documentation</a></li>
        <li><a href="https://github.com/sleekbyte/tailor/wiki/Rules">Rules</a></li>
      </ul>
    </div>
  </div>
</nav>
