<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  function selectText(elem) {
    if (document.selection) {
      var range = document.body.createTextRange();
      range.moveToElementText(elem);
      range.select();
    } else if (window.getSelection) {
      var range = document.createRange();
      range.selectNode(elem);
      window.getSelection().addRange(range);
    }
  }
</script>
